<% if @user %>
  <%= button_to "Discover Top Rated Movies", "/users/#{params[:id]}/movies" %></br>

  <%= form_with url: "/users/#{params[:id]}/movies", method: :get, data: { turbo: false } do |f| %>
    <%= f.label "enter keyword(s)" %>
    <%= f.text_field :search %>
    <%= f.submit "Search by Movie Title" %>
  <% end %>
<% else %>
    <h3><%= "Error: user does not exist" %></h3>
<% end %>